body{
    text-align: center;
    background-color: black;
}

button{
    padding: 4px 8px;
    background: white;
    color: black;
    border-radius: 6px;
    
}

h1{

    color: red;
}
















































































































