body{
    text-align: center;
    background-color: black;
    transition: 3s;
}

button{
    padding: 4px 8px;
    background: white;
    color: black;
    border-radius: 6px;
}

h1{
    color: white;
}
















































































































